

<section class="admin-products-new">

  <header class="page-header">
    <h1>Admin &raquo; New Category</h1>
  </header>

  <div class="well">
    <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
  </div>

  <%= form_with(model: @category, url: admin_categories_path, method: :post) do |form| %>
    <div>
      <div>
        <%= form.label :name %>
      </div>
      <%= form.text_field :name %>
    </div>

    <%= form.submit 'Create Category', class: 'btn btn-primary' %>
  <% end %>

</section>
